:root {
    --font-size: 1rem;

    --border-color: var(--pico-muted-border-color);
    --accent-color: var(--pico-color-pumpkin);

    --link-active-color: var(--accent-color);
}


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


/* HEADER ---------------------------------------- */

#main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--border-color);
    margin-bottom: 2rem;
}

#main-header>* {
    margin: 0;
}

#main-header>a {
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    color: inherit;
}

h1,
h2,
h3 {
    text-align: center;
}

#cart-count {
    background-color: red;
    color: #fff;
    display: inline-block;
    width: 1.5em;
    border-radius: 1em;
    text-align: center;
    font-size: 0.7em;
}

/* FOOTER ---------------------------------------- */

#main-footer {
    text-align: center;
    border-top: 1px solid var(--border-color);
    margin-top: 2rem;
}


/* NAV ---------------------------------------- */

#main-nav {
    align-items: center;
    font-size: 1.1rem;
}

#main-nav menu {
    margin: 0;
}


#main-nav a[aria-current="page"] {
    color: var(--link-active-color);
    text-decoration: underline;
}


/* MAIN ---------------------------------------- */

main {
    flex: 1;
    max-width: 60rem;
    align-items: center;
}


/* LAYOUT ---------------------------------------- */

section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    margin-right: 5rem;
    margin-left: 5rem;
    gap:1.25rem;
    
}

article {
    border: 1px solid var(--border-color);
    max-width: 15rem;
   
}
button {
    display:flex;
    justify-content: center;
}
img.stand{
    display:flex;
    width: 50rem;
    margin-left: auto;
    margin-right: auto;
}

