:root {
    --font-size: 1rem;

    --border-color: var(--pico-muted-border-color);
    --accent-color: var(--pico-color-pumpkin);

    --link-active-color: var(--accent-color);
}


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: grey;
}


/* HEADER ---------------------------------------- */

#main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #fc97a3;
    background-color: black;
    color: white;
}

#main-header>* {
    margin: 0;
}

#main-header>a {
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    color: inherit;
}

h1,
h2,
h3 {
    text-align: center;
}

#cart-count {
    background-color: red;
    color: #fff;
    display: inline-block;
    width: 2em;
    border-radius: 1em;
    text-align: center;
    font-size: 0.90em;
}

/* FOOTER ---------------------------------------- */

#main-footer {
    text-align: center;
    border-top: 1px solid #c0ec78;
    margin-top: 2rem;
    background-color: #c0ec78;
    ;
}


/* NAV ---------------------------------------- */

#main-nav {
    align-items: center;
    font-size: 0.8rem;
    color: white;

}

#main-nav menu {
    margin: 0;
}


#main-nav a[aria-current="page"] {
    text-decoration: underline;
    color: white;
}

#main-nav a {
    color: white;
    background-color: #FCA3AD;
    border-radius: 0.5rem;
    margin-right: auto;
}

#main-nav a:hover {
    transform: scale(1.10);
}

/* MAIN ---------------------------------------- */

main {
    flex: 1;
    max-width: 60rem;
    align-items: center;
}

/* LAYOUT ---------------------------------------- */

section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    margin-right: 5rem;
    margin-left: 5rem;
    gap: 1.25rem;
}

article {
    border: 1px solid #FCA3AD;
    max-width: 20rem;
    background-color: #FCA3AD;

}

button {
    display: flex;
    justify-content: center;
}

img.stand {
    margin-bottom: 1rem;
    border-radius: 0.5rem;
}


article.cart {
    border: 35px solid #FCA3AD;
    max-width: 20rem;
    background-color: #FCA3AD;

}

section.cart {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    margin-right: 5rem;
    margin-left: 5rem;
    gap: 1.25rem;
}

h2.cart {
    background-color: #c0ec78;
    padding: 0.5rem;
    max-width: 10rem;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.5rem;
}

form.cart {
    background-color: #c0ec78;
    padding: 1.5rem;
    max-width: 25rem;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 1.25rem;
}

input[type=submit]:hover {
    transform: scale(1.10);
}

b.cart {
    display: flex;
    margin-left: 8.75rem;
    color: black;
}

b {
    color: white;
}

article.login {
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
    border: 35px solid #c0ec78;
    max-width: 50rem;
    background-color: #c0ec78;
}

h2.cart-empty {
    background-color: #c0ec78;
    padding: 1rem;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.5rem;
}

img {
    border-radius: 0.5rem;
}

article.about {
    background-color: #c0ec78;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.5rem;
}